<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tju.seagraph.dao.UserMapper" >

    <select id="getUserByEmail" resultType="cn.tju.seagraph.daomain.User" parameterType="String">
        SELECT * FROM users WHERE email = #{email} ;
    </select>

    <select id="getUserByToken" resultType="cn.tju.seagraph.daomain.User" parameterType="String">
        SELECT * FROM users WHERE token = #{token} ;
    </select>

    <select id="getUserByUsername" resultType="cn.tju.seagraph.daomain.User" parameterType="String">
        SELECT * FROM users WHERE username = #{username} ;
    </select>

    <insert id="insertUser" parameterType="user">
        INSERT INTO users (root, email, username, passwd, keywords)
        VALUES  (#{user.root}, #{user.email}, #{user.username}, #{user.passwd}, #{user.keywords})
    </insert>

    <delete id="deleteUserById" parameterType="java.lang.Integer">
        DELETE FROM users WHERE id = #{id}
    </delete>

    <update id="updateUser" parameterType="cn.tju.seagraph.daomain.User">
        UPDATE users
        <set>
            <if test="user.username != null">username=#{user.username},</if>
            <if test="user.passwd != null">passwd=#{user.passwd},</if>
            <if test="user.email != null">email=#{user.email},</if>
            <if test="user.token != null">token=#{user.token}</if>
            <if test="user.keywords != null">keywords=#{user.keywords}</if>
        </set>
        WHERE id=${user.id}
    </update>

</mapper>